.course-section .course-section-header[id^="course-section-header-"] {
    $colorsection: $primary;
    background-color: mix(black, $colorsection, 70%);
    border: 1px solid mix(black, $colorsection, 50%);
    .btn.btn-icon.icons-collapse-expand {
        border: 1px solid #ffffff !important;
        .icon {
            color: #ffffff !important;
        }
    }
    a {
        color: #ffffff !important;
    }
}
