@media (min-width: 992px) {
    .drawer-left, .drawer-right {
        top: 0 !important;
        height: 100vh !important;
        left: 99px !important;
        background: #ffffff0d !important;
    }
    #page.drawers.show-drawer-left {
        margin-left: 479px !important;
    }
}
.drawer.drawer-right,
.drawer-toggler.drawer-right-toggle {
    display: none;
}
